
@model IEnumerable<CRUD.Models.Employee>

<table id="example" class="table table-striped" style="width:100%">
    <thead>
        <tr>
            <th>ID</th>
            <th>FirstName</th>
            <th>LastName</th>
           
        </tr>
    </thead>
    <tbody>
        @foreach (var employee in Model)
        {
            <tr>
                <td>@employee.ID</td>
                <td>@employee.FirstName</td>
                <td>@employee.LastName</td>
                
            </tr>
        }
    </tbody>
</table>
